/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: url(../images/cover-image-dark.png) center center/cover no-repeat;
  background-attachment: fixed;
  background-color: var(--main-background-color);
}

.header {
  position: relative;
  padding: 10px;
  display: grid;
  inline-size: 100%;
  block-size: 100vh;
}

.header__decor {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--accent-color);
  font-size: var(--text-size);
  line-height: 1.39;
  letter-spacing: normal;
}

.header__decor::after {
  content: '';
  display: inline-block;
  margin-inline: 10px 5px;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px #ff0070;
  background-color: #ff0070;
  border-radius: 50%;
}


.decorated-zone::before {
  content: '';
  width: 25px;
  height: 25px;
  justify-self: end;
  align-self: start;
  border-top: solid 1px var(--accent-color);
  border-right: solid 1px var(--accent-color);
}

.decorated-zone::after {
  content: '';
  justify-self: start;
  align-self: end;
  width: 25px;
  height: 25px;
  border-left: solid 1px #ff0070;
  border-bottom: solid 1px #ff0070;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  margin-block-start: 39px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  text-transform: lowercase;
  font-size: var(--text-size);
  color: var(--accent-color);
  min-width: 70px;
  max-height: 26px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}
.header__theme-menu-button:hover {
  color: var(--accent-color);
  outline: solid 1px currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
  color: var(--accent-color);
  outline: solid 1px currentColor;
}

.header__title {
  margin-block-start: 67px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--text-bold);
  line-height: 0.83;
  letter-spacing: normal;
  color: var(--title-color);
}

.header__subtitle {
  margin-block: 55px 30px;
}

.header__subtitle-hyphenation {
  display: block;
}

.title-decor {
  font-size: var(--text-size);
  font-weight: var(--text-bold);
  line-height: 1.3;
  letter-spacing: normal;
  color: var(--subtitle-color);
  background-color: var(--subtitle-background-color);
}

@media (768px <= width < 1024px) {
  .page {

  }
}